@page "/"
@rendermode InteractiveServer
@inject IEnumerable<IDashboardComponent> DashboardComponents

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@foreach (var component in DashboardComponents)
{
    <DynamicComponent Type="@component.GetType()" />
}